version: "3.8"
services:
  api:
    container_name: api
    build: .
    env_file: ./.env
    restart: always
  mysql:
    container_name: mysql
    image: mysql:8.0
    restart: always
    environment: 
      - MYSQL_ROOT_PASSWORD=root
    volumes: 
      - ./database/data:/var/lib/mysql
    ports:
      - 3306:3306
  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - 8080:8080